body {
    background-color: black;
}

.container {
    width: 500px;

    padding-top: 100px;
    margin: auto;
}

img {
    width: 500px;
    height: auto;
}

video {
    width: 100%;
    height: auto;
}

canvas {
    width: 100%;
    height: auto;
}